   .shopping{
        font-family: Arial;
        font-weight: bold;
        font-size: 30px;
        text-align: center;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .Apple-work{
        font-family: Arial;
        font-size: 18px;
        font-weight: bold;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
    }

    .Learn-more{
        color: rgb(58,108,199);
        text-align: center;
    }
