.profile {
    width: 1000px;
    height: 250px;
    border: 1px solid black;
    padding: 30px;
    box-sizing: border-box;
}


.profile-picture {
    display: inline-block;
    width: 180px;
    vertical-align: middle;
}

.profile-picture img {
    width: 165px;
    height: 165px;
    border-radius: 50%;
    object-fit: cover;
}


.profile-info {
    display: inline-block;
    width: 500px;
    vertical-align: middle;
}

.name {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 15px;
}

.description {
    font-size: 35px;
    color: gray;
    margin-bottom: 15px;
}

.popular {
    font-size: 35px;
    color: gray;
}


.button-section {
    display: inline-block;
    vertical-align: middle;
}

button {
    background-color: #4285e8;
    color: white;
    border: none;
    padding: 25px 40px;
    font-size: 35px;
    border-radius: 15px;
    cursor: pointer;
}